//variables
$color-background: #c1d72e;
$color-text-color: #ffffff;


body {
  background-color: $color-background;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 18px;
  color: $color-text-color;
}
